body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #2c3e50;
    text-align: center;
    padding: 10px;
}

.container a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}

button {
    background-color: #2c3e50; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.info-alumno-container {
    text-align: center;
}

.info-alumno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-item {
    margin-bottom: 10px;
}

.info-item-container {
    border: 2px solid #2c3e50; 
    padding: 1px;
    margin-bottom: 10px;
}

.profile-image {
    border-radius: 50%; 
}


.guardar-btn {
    background-color: #2c3e50; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guardar-btn:focus,
.guardar-btn:active {
    background-color: #0972dc;
}