body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    flex-direction: column; 
    background-color: #2c3e50;
    padding: 10px;
    width: 99%;
    text-align: right;

}

.header-text {
    color: #fff;
    font-size: 18px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

.image-container {
    margin-right: 20px; 
}

img {
    max-width: 20%;
    border-radius: 8px;
}
