/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.boton-favor {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}

.boton-favor button {
    background-color: #2c3e50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-favor button:hover {
    background-color: #1a252f;
}

/* Estilos para el encabezado h2 */
h2.encabezado {
    background-color: #2c3e50; /* Color diferente para el encabezado */
    color: white; /* Color del texto */
    padding: 10px;
    text-align: right;
}

.image-container {
    margin-right: 20px; 
    justify-content: center;
}

img {
    max-width: 20%;
    border-radius: 8px;
}
